.review {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price {
  font-weight: bold;
}
.gray {
  color: rgb(155, 154, 154);
}
.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card-price {
  font-size: 12px;
  align-items: center;
  margin: 5px;
  font-weight: 500;
  margin-top: auto;
}
